body {
    background-color: pink;
    
}

p {
    font-size: 20px;
    color: black;
}

img {
    width: auto;
}

#ch,h2 {
    color:gold;
    font-size: 40px;
}

.list {
    font-size: 130px;
    margin-top: 10px;
}

.list .li {
    font-size: 25px;
    color: brown;
    
}

#ordered-list .ordered-li {
    text-align: center;
    color: red;
    font-size: 20px;
    margin-top: 10px;
   
}

#steps {
    margin-top: 200px;
}

.pizza-h1,.pizza-h2 {
    color: green;
}

.pizza-list .pizza-li {
    font-size: 25px;
    color: purple;
}

.pizza-ol .pizza-list-1 {
    font-size: 20px;
    color: blue;
}

.pizza-pic {
    width: 150px;

}

.pizza-p {
    text-align: center;
    color: red;
}