body {
    background-color: pink;
    margin: 0;
    padding: 0;
}


p {
    font-size: 20px;
    color: black;
}



img {
    width: auto;
}

#ch,h2 {
    color:gold;
    font-size: 40px;
}



.list .li {
    font-size: 20px;
    color: brown;
    
    
}

#ordered-list .ordered-li {
    text-align: center;
    color: red;
    font-size: 20px;
    margin-top: 10px;
   
}



.pizza-h1,.pizza-h2 {
    color: green;
}

.pizza-list .pizza-li {
    font-size: 25px;
    color: purple;
}

.pizza-ol .pizza-list-1 {
    font-size: 20px;
    color: blue;
}

.pizza-pic {
    width: 250px;

}

.pizza-p {
    text-align: center;
    color: red;
}

.pasta-h1,.pasta-h2 {
    color: brown;
}

.pasta-p {
    color: #133337;
}

.pasta-ol .pasta-li {
    text-align: right;
    color: #065535;
    font-weight: bold;
}
.pasta-ul .pasta-list {
    font-size: 20px;
    color: #794944;
}

.pasta-pic {
    width:auto;
}